@font-face {
    font-family: Poetsen;
    src: url(PoetsenOne-Regular.ttf);
  }
  @font-face {
    font-family: LOGO;
    src: url(hidayatullah\ DEMO.ttf);
  }
/*-----------------------------zmienne-----------------------------------------*/
:root{
    --background:rgb(54, 54, 54) ;
    --navfont: rgb(255, 255, 255);
    --navhover: rgb(196, 180, 91);
}


*,*::before,*::after{
box-sizing: border-box;

}
body{
    background-color: rgb(243,243,243);
    margin: 0;
  }

/*-----------------------------nawigacja-----------------------------------------*/
header{
    background-color: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    left: 0;
    font-family: Poetsen;
}
.logo{
    font-size: 1.6rem;
    font-family: LOGO;
    color: var(--navfont);
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color:var(--background) ;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin-bottom: 2rem ;
    margin-left: 2rem;
}
nav a{
    color: var(--navfont);
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 90ms ease-in-out 90ms;
}
nav a:hover{
    color: var(--navhover);
}
.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: var(--navfont);
    height: 3px;
    width: 2em;
    border-radius:3px ;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: "";
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 8px;
}
.nav-toggle-label span::after{
    top: 8px;
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 350ms ease-in-out 350ms;
}
@media screen and (min-width: 1100px){
    .nav-toggle-label{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 10% 10% 70% 10%;
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;

    }
    nav a{
        opacity: 1;
        position: relative;
    }
    nav a::before{
        content: "";
        display: block;
        height: 3px;
        border-radius: 50px;
        background: var(--navhover);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms
    }
    nav a:hover::before{
        transform: scale(1,1);
    }

}
/*-----------------------------main-----------------------------------------*/
.main{
    width: 90%;
    margin: auto;
    background-color: white;

    border-radius: 30px;
    height: 100vh;
}
footer{
    background: var(--background);
    height: 20vh;
    bottom: 0;
    width: 100%;
    margin-top: 10vh;
}