@font-face {
    font-family: Poetsen;
    src: url(PoetsenOne-Regular.ttf);
  }
  @font-face {
    font-family: LOGO;
    src: url(hidayatullah\ DEMO.ttf);
  }
/*-----------------------------zmienne-----------------------------------------*/
:root{
    --background:rgb(54, 54, 54) ;
    --navfont: rgb(255, 255, 255);
    --navhover: rgb(196, 180, 91);
}


*,*::before,*::after{
box-sizing: border-box;

}
body{
    background-color: rgb(243,243,243);
    margin: 0;
  }

/*-----------------------------nawigacja-----------------------------------------*/
header{
    background-color: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    left: 0;
    font-family: Poetsen;
}
.logo{
    font-size: 1.6rem;
    font-family: LOGO;
    color: var(--navfont);
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color:var(--background) ;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin-bottom: 2rem ;
    margin-left: 2rem;
}
nav a{
    color: var(--navfont);
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 90ms ease-in-out 90ms;
}
nav a:hover{
    color: var(--navhover);
}
.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: var(--navfont);
    height: 3px;
    width: 2em;
    border-radius:3px ;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: "";
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 8px;
}
.nav-toggle-label span::after{
    top: 8px;
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 350ms ease-in-out 350ms;
}
@media screen and (min-width: 1100px){
    .nav-toggle-label{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 10% 10% 70% 10%;
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;

    }
    nav a{
        opacity: 1;
        position: relative;
    }
    nav a::before{
        content: "";
        display: block;
        height: 3px;
        border-radius: 50px;
        background: var(--navhover);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms
    }
    nav a:hover::before{
        transform: scale(1,1);
    }
}
/*-----------------------------logowanie-----------------------------------------*/
.nav-logowanie{
  background-color: var(--background);
  height: 83.3px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.nav-logowanie a{
  text-decoration: none;
}
.panel{
  width: 70vw;
  margin: 10vh auto;
  background-color: white;
  border-radius: 30px;
  height: 70vh;
  display: flex;
}
.nav-logowanie h1:hover{
  cursor: pointer;
  color: var(--navhover);
}
.logo-foto{
  width: 40%;
  background-image: url(logo-foto.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}
.logo-form, .rejest-form{
  width: 60%;
}

.logo-form h3, .rejest-form h3{
  text-align: center;
  font-family: Poetsen;
  font-size: 2.5rem;
}
.log-input {
  background-color: inherit;
  color: black;
  border: none;
  border-bottom: 3px solid var(--navhover);
  border-radius: 0;
  padding-left: 0;
  width: 100%;
  height: 5vh;
  font-family: Poetsen;
  margin-top: 1vh;
  font-size: 1.2rem;
}
.log-input:focus{
  outline: none;
}
.logo-form form{
  width: 70%;
  height: 100%;
  margin: auto;
  font-family: Poetsen;
  margin-top: 0;
  text-align: center;
  padding: 10%;
}
.rejest-form form{
  width: 70%;
  height: 100%;
  margin: auto;
  font-family: Poetsen;
  margin-top: 0;
  text-align: center;
  padding: 0;

}
.przycisk{
  width: 20vw;
  height: 3rem;
  background-color: grey;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 4vh;
  text-align: center;
}
.przycisk:hover{
  background-color: rgb(161, 149, 77);
}
.logo-form p, .rejest-form p{
  font-size: .8rem;
  color: rgba(128, 128, 128, 0.411);
}
.logo-form a, .rejest-form a{

  color: var(--navhover);
}
.zgody{
  font-size: .8rem;
  color: grey;
  text-align: left;
  margin-top: 2vh;
}


@media only screen and (max-width: 1200px)  {
  .logo-foto{
    width: 0%;
  }
  .logo-form{
    width: 100%;
    margin:auto;
    text-align: center;
  }
  .rejest-form{
    width: 100%;
    margin:auto;
    text-align: center;
  }
  .logo-form form{
    padding: 0;
    height: 80%;
  }
  .przycisk{
    width: 30vw;
  }
}
@media only screen and (max-width: 720px)  {
  .przycisk{
    width: 40vw;
  }
  .logo-form h3,.rejest-form h3{
    text-align: center;
    font-family: Poetsen;
    font-size: 1.7rem;
  }
  
  .logo-form form{
    margin-top: 0;
  }
}
/*-----------------------------main-----------------------------------------*/
.main{
    width: 90%;
    margin: auto;
    background-color: white;

    border-radius: 30px;
    height: 100vh;
}

/*-----------------------------stopka-----------------------------------------*/
footer{
    background: var(--background);
    height: 40vh;
    bottom: 0;
    width: 100%;
    margin-top: 10vh;
    color: white;
    font-family: Poetsen;
    font-size: .8rem;
    line-height: 1.5px;
    display: flex;
    justify-content: space-between;
}

footer h4{
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--navhover);
  margin: 15px 0 4vh 0;
}
.lewy{
  width: 30vw;
  height: 30vh;
  border:0;
  padding: 0px;
  margin-top: 8vh;
  margin-left: 15vw;
}
.srodkowy{
  width: 30vw;
  height: 30vh;
  border:0;
  margin: 0;
  padding: 0px;
  margin-top: 8vh;
  text-align: center;
}

.prawy{
  width: 30vw;
  height: 30vh;
  border:0;
  margin-top: 8vh;
  padding: 0px;
  text-align: right;
  margin-right: 15vw;
}
footer .logo{
  font-size: 3rem;
  margin-bottom: 6vh;
  color: rgb(70, 70, 70);
}
@media only screen and (max-width: 1300px)  {
.prawy{
  margin-right: 10vw;
}
.lewy{
  margin-left: 10vw;
}
footer .logo{
  font-size: 2.5rem;
}
}
@media only screen and (max-width: 1000px)  {
  footer .logo{
    font-size: 2rem;
    margin-bottom: 4vh;
  }
  footer h4{
    font-size: 1.2rem;
  }
  footer {
    font-size: .65rem;
  }
  }
  @media only screen and (max-width: 800px)  {
    .prawy{
       display: none;
    }
    .lewy{
      display: none;
    }
    .srodkowy{
      width: 100%;
      text-align: center;
    }
    footer{
      height: 35vh;
    }

    }
  





